* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: #3E6F6B;
    margin: 0 auto;
    text-align: center;
}

nav {
    color: white;
    padding: 15px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 20px;
    text-justify: right;
}

a {
    color: white;
    justify-content: space-around;
}

.headshot {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    margin: 0;
}

header h1 {
    display: inline-block;
    color: white;
    top: 0;
    right: 15px;
}

main {
    width: 96%;
    margin: 2rem auto;
}

section {
    margin: 1.5rem;
}
  
footer {
    text-align: center;
    font-size: 75%;
    padding: 20px;
}

.aboutme {
    background-color: #5D8679;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.mywork {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: lightgray;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.project-column {
    display: flex;
    flex: 1 0 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.project-box {
    background-color: white;
    justify-content: center;
    min-height: 100%;
    max-width: max-content;
    padding: 5px;
    margin: 20px;
    border: 10px solid #317A86;
}

.project-header {
    text-align: center;
}

.project-screenshot {
    max-height: 100px;
    max-width: fit-content;
}

.contactme {
    background-color: #3E6F6B;
    color: white;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.contactme li {
    list-style-type: none;
}

.contactme a {
    color: white;
}

@media screen and (min-width: 768px) {
    .project-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .project-column:last-child {
      flex-grow: 1;
    }
  }
  
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .project-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }