* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

nav {
    background-color: #3E6F6B;
    color: white;
    padding: 15px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

header img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    margin: 0;
}

header img h1 {
    position: relative;
    color: white;
    top: 0;
    right: 15px;
}

main {
    width: 96%;
    margin: 2rem auto;
}

section {
    margin: 0 15px;
}
  
footer {
    margin: 1.5rem;
    text-align: center;
}

.mywork {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -1.5rem;
}

.project-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    border: 2px solid #317A86;
}

.project-header {
    text-align: center;
}

.project-box img {
    flex-grow: 1;
}

#project01 {
    flex-grow: 2;
}